[Unit]
Description=gunicorn3 daemon
Requires=gunicorn3.socket
After=network.target

[Service]
Type=notify
# the specific user that our service will run as
User=sujan
# Group=someuser

# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html
RuntimeDirectory=gunicorn3
WorkingDirectory=/home/sujan/report-card
ExecStart=/usr/bin/gunicorn3 ReportCard.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target